@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #e4ede3;
  --foreground: #004d61;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #004d61;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", serif;
}

@layer base {
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}

@layer utilities {
  .link {
    @apply block py-4 md:py-0 lg:py-4 border-b-2 border-foreground md:border-transparent lg:border-foreground transition hover:text-lime-500 hover:border-lime-400;
  }
  .link.active {
    @apply font-bold text-lime-600 border-lime-500 transition hover:text-lime-500 hover:border-lime-400;
  }
  .link.disabled {
    @apply opacity-40 pointer-events-none;
  }
}
